body,
h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #000A10;
  background-color: #D8E1ED;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(116, 116, 240, 0.563);
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ACADAD;
  outline: none;
  padding: 16px 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #686868;
}

.input::placeholder {
  color: #ACADAD;
}

.send {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  gap: 25px;
}

.authForm {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  padding: 35px 20px 50px;
  border: 1px solid #ACADAD;
  border-radius: 20px;
  font-size: 20px;
  background-color: #FAFDFE;
}